
/** campo classe inicial */
.charSelect {
  text-align: center;
}

label[for="personagem"] {
  display: flex;
  margin-bottom: 5px;
}

#personagem {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

#personagem option {
  font-size: 16px;
}

/** campo nivel abaixo */

.boxNivelGeral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 600px;
}

.boxNivel {
  margin-bottom: 20px;
}

.nivelAtual,
.atriRestantes {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.botoesCalculos button {
  margin: 5px;
}

/** campo nivel acima */

/** campo atributos abaixo */

/** campo atributos acima */