body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

input[type="number"] {
    width: 50px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #0db816;
        color: blue;
    }
}

#atributos-restantes {
    font-weight: bold;
    font-size: 24px;
}

.containerAtributos {
    display: flex;
}

.containerStatus {
    border: 5px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 0 auto;
    width: 90%; /* editar depois */
    display: flex;
}

.containerResistencia {
    border: 5px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 0 auto;
    width: 50%;
}

  
.coluna01 {
    width: 50%;
}

/*
#somaForça {
    content: attr(data-valor);
}
*/